name: ci

on: 
  pull_request:

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@v2.1.5
        with: 
          node-version: 14.x
    
    - name: Install dependencies
      run: npm i

    - name: Test
      uses: npm run test

